body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0 0 0 0;
    max-width: 1440px;
    margin: auto;
  }
  
  header {
    background-color: #78b6d0;
  }
  
  .container {
    width: 75%;
    margin: auto;
  }
  
  .menu {
    display: flex;
  }
  
  .logo {
    display: flex;
    flex: 2;
  }
  
  .icon {
    margin-top: 25px;
    padding-right: 15px;
    width: 23px;
    height: 23px;
  }
  
  .letter h1 {
    margin-top: 12px;
    font-family: open sans;
    font-weight: lighter;
    color: white;
    font-size: 32px;
    letter-spacing: 0.1rem;
  }
  
  .logo_letter {
    color: white;
  }
  
  a {
    text-decoration: none;
    color: #323232;
  }
  
  .navbars {
    width: 30px;
    height: 30px;
    margin-top: 25px;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
  }
  
  /* main */
  
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .about {
    width: 540px;
    height: 1118px;
    flex: 1;
  }
  
  .about_img {
    width: 500px;
    height: 1118px;
    padding-top: 150px;
  }
  
  .about_img img {
    width: 500px;
  }
  
  .about h2 {
    font-size: 36px;
    padding-top: 150px;
  }
  
  .about h3 {
    font-size: 72px;
    line-height: 65px;
  }
  
  .about h4 {
    font-size: 27px;
    padding-top: 70px;
  }
  
  .about p {
    font-family: open sans;
    font-size: 16px;
  }
  
  .about h3,
  h2,
  h4 {
    font-family: montserrat;
    font-weight: bold;
  }
  
  .about h3,
  h2,
  h4,
  p {
    color: #323232;
    width: 450px;
  }
  
  /* footer */
  
  .footer {
    background-color: #eeeeee;
  }
  
  nav {
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: #323232;
  }
  
  ul {
    margin-bottom: 0;
    display: flex;
    list-style-type: none;
  }
  
  li {
    font-family: montserrat;
    font-size: 14px;
    margin-right: 15px;
  }
  
  li :hover {
    color: #fd4f32;
  }
  
  .contact {
    margin-right: 0;
  }
  
  .foot {
    display: flex;
    flex-wrap: wrap;
  }
  
  .copy {
    flex: 1;
  }
  
  .copy p {
    font-family: open sans;
    font-size: 14px;
    color: #8b8b8b;
    width: 480px;
  }
  