@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

body {
  font-family: montserrat;
}

/* desktop view */

header {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  position: relative;
}

.container {
  max-width: 1000px;
  margin: auto;
}

/* menu bar */

.logo{
  display: flex;
  flex: 2;
}

.icon {
  padding-top: 10px;
  padding-right: 20px;
}

.top-menu {
  display: flex;
  padding-top: 30px;
}

.top-menu a {
  text-decoration: none;
}

.logo-name h1 {
  font-family: "Open Sans", sans-serrif;
  font-weight: 100;
  font-size: 32px;
  color: white;
  letter-spacing: 0.1rem;
}

.menu-bar {
  padding-top: 15px;
}

.top, .middle, .bottom {
  width: 30px;
  height: 4px;
  background-color: white;
}

.middle, .bottom {
  margin-top: 4px;
}

/* form */

.form {
  padding-top: 250px;
}

.form p {
  font-family: "Open sans", serrif;
  font-size: 52px;
  letter-spacing: 0.2rem;
  font-weight: 100;
  color: white;
  text-align: center;
}

form {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input {
  height: 40px;
  width: 325px;
  background-color: white;
  border: none;
  padding-left: 15px;
  font-family: "Open sans", serrif;
  font-size: 16px;
  font-weight: 500;
  color: #8b8b8b;
}

form input:focus {
  outline: none;
}

form button {
  height: 40px;
  width: 120px;
  background-color: #fd4f32;
  border: none;
  font-family: "Open sans", serrif;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

/* main */
/* top content */

.background {
  background-color: #eeeeee;
}

.top-destinations {
  padding-top: 60px;
}

.top-destinations h3 {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #323232;
}

.top-destinations p {
  font-family: "Open sans", serif;
  font-size: 16px;
  font-weight: 400;
  color: #8b8b8b;
  padding-top: 10px;
}

.destinations {
  margin-top: 45px;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

figure {
  background-color: white;
  width: 240px;
}

figcaption {
  padding: 18px;

}

figure p {
  color: white;
  position: absolute;
  margin-top: -30px;
  margin-left: 180px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
}

figure h3 {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: uppercase;
  color: #323232;
}

figure h4 {
  font-family: "Open sans", serif;
  font-size: 13px;
  font-weight: 400;
  color: #696969;
  padding-top: 10px;
}

/* lower content */

.lower-background {
  background-color: white;
}

.lower-content {
  padding-top: 70px;
  padding-bottom: 85px;
}

.lower-content h4 {
  font-family: "Open sans", serif;
  font-weight: 100;
  font-size: 52px;
  color: #323232;
}

.descriptions {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.description {
  width: 280px;
}

.description h3, .lower-form p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #323232;
  letter-spacing: 0.07rem;
}

.description p {
  font-family: "Open sans", serif;
  font-size: 15px;
  font-weight: 300;
  padding-top: 10px;
  color: #8b8b8b;
}

.lower-form p {
  text-align: center;
  margin-top: 80px;
}

.lower-form form button {
  width: 150px;
}

.lower-form form input {
  background-color: #eeeeee;
}

/* footer */

footer {
  background-color: #eeeeee;
}

.content {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content p {
  font-family: "Open sans", serif;
  font-size: 14px;
  font-weight: 300;
  color: #8b8b8b;
  /* flex: 2; */
}

.footer-menu ul a {
  text-decoration: none;
}

.footer-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 325px;
}

.footer-menu ul li {
  list-style: none;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  color: #696969;
}


/* responsiveness */
/* ipad view */






/* mobile view */